<h3>Suppliers</h3>
<% @suppliers.each do |supplier| %>
  <ul>
    <li>
      <%= link_to supplier.name, supplier_path(supplier) %>
    </li>
  </ul>
<% end %>
<br />
<%= link_to "Create new supplier", new_supplier_path %>
