<% @suppliers.each do |supplier| %>
    <div class="supplier">
      <p class="supplier-name"><%= supplier.name %></p>
      <p class="supplier-address"><%= supplier.address %></p>
    </div>
<% end %>